---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<NavigationBar />
		<Footer/>
		<h1>关于<span class="text-gradient">李相辉</span></h1>
	</main>
</Layout>

<style>
	h1 {color: brown;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
