---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import NavigationBar from "../components/NavigationBar.astro";
import Card from "../components/Card.astro";
---

<Layout title="陶喆">
	<main>
		<svg> </svg>
		<Footer />
		<NavigationBar />
		<h1>陶喆<span class="text-gradient">专辑精选</span></h1>
		<p>
			1997年陶喆发行的首张录音室专辑 《David Tao》是 陶喆
			的第一张音乐专辑，由陶喆、 王治平 和 李振权
			担任制作人，共收录11首歌曲和4首过场曲目，于1997年12月6日通过侠客唱片发行
			。 1998年，陶喆凭借该专辑获得第9届 台湾金曲奖
			“最佳新人”奖和“最佳唱片制作人”奖 。
		</p>
		<p>
			<img
				src="https://www.renwuji.com/wp-content/uploads/images/2023/12/06/5aS05p2hQOWQrOmmluatjOWGjeivtOeIsQ==_aytl1hxfp4f.jpg"
				alt="陶喆首专《David Tao》"
			/>
		</p>
		<p>
			不同于其它华语歌手频繁的发片速度，陶喆在发表第一张专辑《David
			Tao》的两年之后，才发表他的第二张专辑《I'm
			OK》。然而，在筹备这张专辑的过程中，陶喆其实“一点也不OK”。他表示这两年的时间中他都存在于地狱与天堂的界限之间。陶喆与自我挣扎和灵魂抗争着。他的精神领域已经成为心灵宣布胜利的战场。允诺的理由不再清楚，而结果也不再重要。尽管在内心世界里进行着前所未有的征战，陶喆却未因此被击倒，反而将这些矛盾与无奈转化为创作的动力，来送给所有衷心期待的听众一份最珍贵的音乐好礼
			。
		</p>
		<p>
			<img
				src="https://tse2-mm.cn.bing.net/th/id/OIP-C.bjpw5hLlY0LkftgtwirXEQHaHa?rs=1&pid=ImgDetMain"
				alt="陶喆第二张专辑《I am OK》"
			/>
		</p>
		<p>
			“911事件”发生后，让身在美国的陶喆十分震惊，开始真正面对此事件，并试图从中思索人类的存在价值与意义。与世人分享“爱与希望”的讯息，这就是《黑色柳丁》整张专辑所要表达的创作概念。
		</p>
		<p>
			<img
				src="https://pic4.zhimg.com/v2-16eceb250c1f7e04e634082d65cbf757_r.jpg"
				alt="陶喆第三张专辑《黑色柳丁》"
			/>
		</p>
		<p>
			在《太平盛世》中，陶喆想传达的是他对世代更大的关怀，希望透过《太平盛世》专辑里的每首歌，表达他以一个音乐人的角度观察社会时事的种种省思和疑问，并祈求和每个人心目中期待的“太平盛世”能够真正的早日来临，更期望能透过他的音乐提醒大家要勇于真诚面对自己的内心和对待别人，在追求进步的同时，也能坚持真实的本性，剔除鬼性发扬良善的人性。
		</p>
		<p>
			<img
				src="https://ts1.cn.mm.bing.net/th/id/R-C.d0d2c3c6769163e16002e3ddd7aeeaf9?rik=oSWRpn4QXFTnpw&riu=http%3a%2f%2fr.sinaimg.cn%2flarge%2ftc%2fmmbiz_qpic_cn%2fea96676b5b2902f4778245f73602df8d.jpg&ehk=jlN3GA0ceWunJKY%2bKxoIonCJX23dM1a7GgvQ4fQAMRU%3d&risl=&pid=ImgRaw&r=0"
				alt="陶喆第四张专辑《太平盛世》"
			/>
		</p>
		<p>
			这张专辑是陶喆创作的第5张专辑，因为他想分享一种珍惜生命中拥有的美好感觉，所以将专辑取名为“太美丽”
			。歌曲《忘不了》的灵感来自林黛主演的《不了情》电影主题曲，在拍摄MV的时候，陶喆还请来比尔贾、洪小玲、白歆惠参与拍摄。为了配合这张专辑的主题，陶喆剪去了耳际的头发，穿上了简单的白色西装。
		</p>
		<p>
			<img
				src="https://www.yuehaishibei.com/wp-content/uploads/2021/06/1622564215-c21087d786f076c-300x300.jpg"
				alt="陶喆第三张专辑《黑色柳丁》"
			/>
		</p>
		<p>
			这张专辑之所以定名为《69乐章》，是因为这是陶喆的第6张专辑、第9张音乐作品，又是陶喆1969年这个出生年份。‘69’在日文中也正好与Rock同音”、“在《易经》中，6、9各自代表着阴数及阳数的极限，在69的变化中，一切都会被颠覆、重生，所以《69乐章》就是陶喆的摇滚乐章，而且69看起来也很像陶喆所属的巨蟹座符号。
		</p>
		<p>
			<img
				src="https://tse2-mm.cn.bing.net/th/id/OIP-C.ivIS-pXUnv_Z6zU5ror6GAHaHa?rs=1&pid=ImgDetMain"
				alt=""
			/>
		</p>
	</main>
</Layout>

<style>
	h1 {
		color: aliceblue;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	p {
		color: aliceblue;
	}
	img {
		width: 50%;
		height: auto;
		border-radius: 4px;
	}
	body {
		background-image: url(https://ts1.cn.mm.bing.net/th/id/R-C.c88c7e3d938bae66ad81f2471436cea4?rik=2hqTIypwvgYYow&riu=http%3a%2f%2fi0.hdslb.com%2fbfs%2farchive%2f9dd84585354163a1bb9225074636355e735dc115.jpg&ehk=WHNDrTiCu%2biy3nNI42pS5CuLIuP2jjsWsmsH1oGjXl0%3d&risl=&pid=ImgRaw&r=0);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	p {
		color: aliceblue;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 1.5;
		text-align: center;
		margin-bottom: 1em;
	}
	.flex-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
