---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';
import Card from '../components/Card.astro';
---

<Layout title="博客">
	<main>
		<svg>
        </svg>
		<Footer/>
        <NavigationBar />
		<h1>P211012623<span class="text-gradient">李相辉</span></h1>
		<p>在这个页面，关于我的博客内容</p>
	</main>
</Layout>

<style>
	
	h1 {
		color: aliceblue;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	p {
		color: aliceblue;
	}
</style>
