---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="博客">
	<main>
		<svg>
        </svg>
        <a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<a href="/index/">Index</a>
        <a href="/notes/">Notes</a>
		<h1>P211012623<span class="text-gradient">李相辉</span></h1>
		<p>在这个页面，关于我的博客内容</p>
	</main>
</Layout>

<style>
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	
</style>
