---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';
import Card from '../components/Card.astro';
---

<Layout title="网络编辑.">
	<main>

		<NavigationBar />
		<Footer/>
		<h1>P211012623 李相辉</h1>
		<h2>在这个页面展示我的课程笔记<span class="text-gradient"></span></h2>
	<ul>
        <li><a href="/md/2/">Astro的安装与部署</a></li>
    </ul>
    </main>
</Layout>

<style>
	h1 {color: coral;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2{color: coral;
		font-size: 4rem;
		font-weight: 500;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
    a{
        color: coral;
		font-size: 4rem;
		font-weight: 200;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em; 
    }
</style>
