<footer>
    <hr/>
    <p>
        <span>
            lixianghui
        </span>
        <span>
2024
        </span>
    </p>
    <style>
        p {
            color: rgb(239, 227, 227);
        }
    </style>
</footer>