<a href="/">Home</a>
		<a href="/about DT/">About DT</a>
		<a href="/Album recommended/">Album recommended</a>
		<a href="/index/">Index</a>
		<a href="/notes/">Notes</a>
        <style>
a{
    color: aliceblue;
    text-decoration: none;
    margin-right: 1em;
}
a:hover{
    background-color: bisque;
}
        </style>