---
const { imgsrc } = Astro.props;
---

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<div>
    <img src={imgsrc} alt="自我介绍" />
    <p>
        我的名字是吉良吉影，年龄33岁，家住杜王町东北部别墅区，未婚。我在“龟友百货连锁公司”上班，每天最晚也是八点前回家，不吸烟，酒也是浅尝辄止，晚上十一点上床，保证八个小时的充足睡眠，睡前喝一杯热牛奶，再做二十分钟伸展运动暖身，然后再睡觉，基本可以熟睡到天
    像婴儿一样不留下疲劳与压力，迎来第二天的早晨，健康检查结果也显示我很健康。
        我的意思是我是一个随时都想追求平静生活的人，不拘泥于胜负与烦恼，不树立令我夜不能寐的敌人，这就是我对于这个社会的生活态度，我也清楚这就是我的幸福。（从吉良的身边冒出黑色的身影）再说，就算是战斗我也不会输给任何人。
        我意思是，重清君，你就是阻碍我睡眠的烦恼，也就是我的敌人。（唤出替身）杀手皇后，这就是我给这家伙取的名字。我要在你告诉任何人之前，把你解决掉，这样我今晚才能安心入睡！
    </p>
</div>
<style>
    img {
        border: 2px dashed blue;
        padding:15px;
        width: 200px;
        text-align: center;
    }
    p {
        font-size: 15px;
        color: cadetblue;
    }
</style>
